---
interface Props {
  items: string[];
}

const { items } = Astro.props;
---

{items.length > 0 && (
  <ul class="impact-list">
    {items.map((item) => (
      <li>{item}</li>
    ))}
  </ul>
)}
